*{
    margin: 0px;
    padding: 0px;
    
}
.f1{
    background-image: url('../Hero-bg.png');
    height: 652px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid orange;
    padding: 20px auto;
}
.d1{
  width: 998px;
  height: 582px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid orange;
  
}
.p1{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;

text-align: center;
margin-bottom: 10px;
}
.c{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 400;
}
.p2{
    text-align: center;
}
.b1{
    margin-top: 20px;
    border-radius: 8px;

background: rgb(13, 19, 33);
padding: 7px;
border-style: none;
}
.con{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 22px;
font-weight: 600;


}
.f2{
    margin: 70px 120px 40px 150px;
    width: 1140px;
    height: 1395px;
    border: 2px solid orange;
    position: center;
    
}
.d2{
    margin: 70px 70px;
   
    height: 1235px;
    border: 2px solid orange;
    position: center;
}
.hc{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
text-align: center;
margin-bottom: 20px;
margin-top: 30px;
}
.id1{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    
}
.h2c{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
margin-bottom: 20px;
}
.b2{
    margin-top: 20px;
    box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
padding: 5px;
}
.b2t{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
}
.id2{
    margin-top: 80px;
    display: flex;
    gap: 30px;
}
.id3{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
